<div class="box {{{class}}}" id="{{{id}}}">
	<h2>
	    {{#url}}
	        <a href="{{{url}}}">{{{title}}}</a>
	    {{/url}}
	    {{^url}}
	        {{{title}}}
	    {{/url}}
	    {{#description}}
	        <span>{{{description}}}</span>
	    {{/description}}
	</h2>
	<div>
		<ul class="clearfix">
			{{{items}}}
		</ul>
	</div>
</div>
