<!doctype html>
<html>
    <head>
        <title>{{{title}}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content="{{{version}}}" />
        <link rel="stylesheet" media="screen" href="{{{themeurl}}}/public/default.css" type="text/css" />
        {{{headerinclude}}}
    </head>
    <body>
        <header id="header">
            <h1>{{{title}}}</h1>
        </header>
        <hr class="hideme" />
        <div id="main" class="clearfix">
            {{{content}}}
        </div>
        <hr class="hideme" />
        <footer id="footer">
            <p>
                {{{info}}}
            </p>
        </footer>
        {{{footerinclude}}}
    </body>
</html>
