<!DOCTYPE HTML>
<html>
	<head>
		<title>{{{title}}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="generator" content="{{{version}}}" />
        <meta name="viewport" content="width=device-width"> 
		<link rel="stylesheet" media="screen" href="{{{themeurl}}}/public/style.css" type="text/css">
        {{{headerinclude}}}
	</head>
	<body>
		<div id="wrap">
			<h1>{{{title}}}</h1>
			<hr>
			<div class="clearfix">

            {{{content}}}

			</div>
			<div id="footer">
				<div class="footer-inner">
					<hr>
					<p>
					    {{{info}}}
				    </p>
				</div>
			</div>
		</div>
        {{{footerinclude}}}
	</body>
</html>
