<article class="box {{{class}}}" id="{{{id}}}">
    <header class="boxheader">
        <h2>
            {{#url}}
                <a href="{{{url}}}">{{{title}}}</a>
            {{/url}}
            {{^url}}
                {{{title}}}
            {{/url}}
        </h2>
        {{#description}}
            <p>
                {{{description}}}
            </p>
        {{/description}}
    </header>
    <div class="boxcontent clearfix">
        {{{items}}}
    </div>
</article>
