@charset "UTF-8";

/* ****************************************************

	@file:		  style.css
	@cescription: Screen stylesheet
	@author:      remi (exomel.com)
	@updated:	  20100114

	@notes:       You can use this stylesheet to create
	              a custom Pubwich theme. You should
				  duplicate the `themes/default/`
				  directory, though, and then change
				  the `PUBWICH_THEME` constant in your 
				  configuration file.

******************************************************/

/**
 *	Basic
 ******************************************************************/

@import url(reset.css);

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix {display: inline-block;}
/* Hides from IE-mac \*/ * html .clearfix {height: 1%;} .clearfix {display: block;} /* End hide from IE-mac */

hr { display: none; } 
a * { cursor: pointer; }

html {
	font-size: 100.01%;
}

body {
	background: #f6f6f6;
	color: #444;
	font-size: 100.01%;
	line-height: 1.4;
	font-family: 'Segoe UI', Helvetica, Arial, "Lucida Grande", "Liberation Sans", Tahoma, Verdana, sans-serif;
				 /* Yay for Liberation! */
	padding: 4.2em 2.8em 5.6em 2.8em;
}

#wrap {
	font-size: 0.8em;
        width: auto;
	max-width: 80em;
        min-width: 640px;
	margin: 0 auto;
}

#skip {
	position: absolute;
	left: -999px;
}

a {
	text-decoration: underline;
        color: #004235;
}
a:focus,
a:hover,
a:active {
        color: #000;
        text-decoration: none;
}

h1 a, h2 a { text-decoration: none; }
h1 a:focus, h1 a:hover, h1 a:active,
h2 a:focus, h2 a:hover, h2 a:active { text-decoration: underline; color: #000; }


acronym, abbr {
	cursor: help;
}

h1 {
	font-size: 3.5em;
        line-height: 1.14;
	padding: 0;
        margin: 0 0 0.8em 0;
	width: 70%;
	text-shadow: 1px 1px 0 #fff;
	letter-spacing: -0.02em;
}

h1, h2, h1 a, h2 a {
	font-weight: bold;
	text-align: left;
	color: #56755e;
}



.erreur {
	background: #fff;
	opacity: 0.2;
	padding: 0.5em 1em;
}

/**
 *	=! Footer
 ******************************************************************/
 
#footer {
	text-align: right;
        margin-top: 4.2em;
        border-top: dotted 1px #999;
	padding: 2.8em 0;
}

#footer a.pubwich {
	background: url('./img/pubwichfork_16.png') no-repeat left center transparent;
	white-space: nowrap;
	padding-left: 18px;
}

/**
 *	=! Columns
 ******************************************************************/
 
.col1 {
	width: 35%;
	margin-right: 2%;
	float: left;
}

.col2 {
	width: 35%;
	margin-right: 2%;
	float: left;
}

.col3 {
	width: 26%;
	float: left;
}

/**
 * =! Boxes default
 ******************************************************************/
 
.box {
	margin: 0 0 1.4em;
	background: #f9f9f9;
	box-shadow: 0 0 0.5em rgba( 0, 0, 0, 0.2 );
	-moz-box-shadow: 0 0 0.5em rgba( 0, 0, 0, 0.2 );
	-webkit-box-shadow: 0 0 0.5em rgba( 0, 0, 0, 0.2);
        border: solid 1px #ddd;
}

.box h2 {
	font-size: 1.4em;
	padding: 0.504em 0.7em 0.35em 0.7em;
	line-height: 1;
        background: #f3f3f3;
	border-bottom: 1px dotted #999;
}

.box h2 span {
	font-size: 0.714em;
        line-height: 1.4;
	font-weight: normal;
        opacity: 1;
}

.box .boite-inner {
	padding: 0.7em 1em;
}

.box ul li {
	margin: 0 0 0.7em 0;
        padding: 0 0 0.7em 0;
        border-bottom: dotted 1px #ddd;
        overflow: hidden;
}

.box ul > li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.box .item-media-thumbnail
{
    float: left;
    vertical-align: baseline;
    margin:0.25em 1em 0.35em 0;
    width: auto;
    height: auto;
    max-height: 7em;
    max-width: 25%;
}

.box.nodata {
	opacity: 0.5;
}

.box ul li.nodata {
	opacity: 0.5;
}

.box.no-title h2 {
	display: none;
}

/**
 * =! Text
 ******************************************************************/

.text p, .text ul, .text ol
{
    margin-bottom: 0.75em;
}

.text .boite-inner > :last-child
{
    margin-bottom: 0;
}

/**
 *	=! Flickr
 ******************************************************************/

.flickr h2 a {
	color: #0063DC;
}

.flickr h2 em {
	color: #FF0084;
	font-style: normal;
}

.flickr .boite-inner {
	padding-right: 0.35em;
}

.flickr ul li {
        padding:0;
        margin: 0;
	float: left;
        width: 25%;
        border: none;
}

.flickr ul li a {
        display: block;
        margin: 0 0.35em 0.35em 0;
	border: none;
}

.flickr ul li img {
	display: block;
        width: 100%;
        height: auto;
}

/**
 *	=! Last.fm
 ******************************************************************/

.lastfm h2 a {
	color: #DC413A;
}

.lastfmtopalbums li a strong,
.lastfmweeklyalbums li a strong {
    display: block;
}

/**
 *	=! Twitter
 ******************************************************************/

.twitter h2 a {
	color: #33CCFF;
}

.twitter li {
	padding: 5px 10px 7px;
	margin: 0 0 5px;
}

.twitter li span.image, 
.twitter li span.date {
	display: block;
	float: left;
	width: 85px;
	margin-right: 10px;
}

.twitter li span.image {
	width: 48px;
}

.twitter li span.image a, 
.twitter li span.date a {
	text-decoration: none;
	border: none;
}

.twitter li p {
	display: block;
	margin-left: 95px;
}

.twitter li em.from {
	display: none;
}

.twittersearch li p {
	margin-left: 65px;
}

.twittersearch li p.date {
	margin-top: 3px;
	color: rgba(0,0,0,0.4);
}

.twittersearch li p.date a {
	color: rgba(0,0,0,0.4);
	border-bottom: none;
}

/**
 *	=! StatusNet
 ******************************************************************/

.statusnet h2 a {
	color: #33CCFF;
}

.statusnet li {
	padding: 5px 10px 7px;
	margin: 0 0 5px;
}

.statusnet li span.image, 
.statusnet li span.date {
	display: block;
	float: left;
	width: 85px;
	margin-right: 10px;
}

.statusnet li span.image {
	width: 48px;
}

.statusnet li span.image a, 
.statusnet li span.date a {
	text-decoration: none;
	border: none;
}

.statusnet li p {
	display: block;
	margin-left: 95px;
}

.statusnet li em.from {
	display: none;
}

.statusnetsearch li p {
	margin-left: 65px;
}

.statusnetsearch li p.date {
	margin-top: 3px;
	color: rgba(0,0,0,0.4);
}

.statusnetsearch li p.date a {
	color: rgba(0,0,0,0.4);
	border-bottom: none;
}

/**
 *	=! Delicious
 ******************************************************************/

.delicious h2 a {
	color: #3274D0;	
}

/**
 *	=! Readernaut
 ******************************************************************/

.readernaut h2 a {
	color: #B6C125;
}

.readernaut ul {
	padding-top: 5px;
}
 
.readernaut li {
	float: left;
	width: 100%;
}

.readernaut li a {
	text-decoration: none;
	border: none;
	display: block;
	padding: 5px 0 5px 5px;
}

.readernaut li img {
	display: block;
	float: left;
}

.readernaut li a strong {
	display: block;
	margin-left: 55px;
	font-weight: normal;
	padding: 8px 10px 8px 10px;
}

.readernaut li a span {
	display: block;
	font-weight: bold;
	line-height: 1.2;
}


/**
 *	=! Facebook
 ******************************************************************/

.facebook h2 a {
	color: #3B5998;
}

.facebook ul li {
	padding: 5px;
}

/**
 *	=! Youtube
 ******************************************************************/

.youtube h2 a {
	color: #D62323;
}

.youtube li a {
	display: block;
	padding: 5px;
	border: none;
}

.youtube li a img {
	float: left;
	display: block;
}

.youtube li a strong {
	display: block;
	margin-left: 130px;
}

.youtube li a span {
	display: block;
	margin-left: 130px;
}

/**
 *	=! Vimeo
 ******************************************************************/

.vimeo h2 a {
	color: #9FC54E;
}

/**
 *	=! Gowalla
 ******************************************************************/

.gowalla h2 a {
	color: #FF4400;
}

.gowalla .boite-inner {
	padding: 10px 8px 2px;
}

.gowalla .boite-inner a {
	border: none;
}

.gowalla .boite-inner a img {
	float: left;
	margin: 7px 0 0 5px;
	-ms-interpolation-mode:bicubic; /* propriété propriétaire (!) d'IE7 */
}

.gowalla .boite-inner a strong {
	display: block;
	margin: 0 0 0 36px;
}

.gowalla .boite-inner small {
	display: block;
	margin: 0 0 0 36px;
	color: rgba(0,0,0,0.5);
}

.gowalla .boite-inner li {
	margin: 0 0 0.9em;
}

